 @font-face {
     font-family: Montserat, DebbyC;
     src: url(fomts/DebbyC/debbyc.ttf);
 }

body {
    font-family: Montserat;
    font-size: 18px;
    color: #E4E6E6;
    background: linear-gradient(to top, #000000, #333131);
}

 
 
 
 /*----HEADER------*/
header {
    background-color: #272727;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 0;
}
 
.main-name {
     font-family: DebbyC;
     font-size: 80px;
     color: #E4E6E6;
 }
.second-name {
     font-size: 36px;
     font-family: Montserat;
     color: #E4E6E6;
 }
.third-name {
     font-size: 24px;
     font-family: Montserat;
     color: #E4E6E6;
 }
#come_on {    
     text-align: center;
     padding: 2% 0;
 }
 
 #come_on .right,
 #come_on .left {
     color: #f65d1b;    
     border: none;     
     background-color: #f65d1b;     
     height: 2px;    
     width: 100%;
     opacity: 1;
     position: relative;
     top: 30%;
     border-width: 2px 0;
     bottom: 45px;
 }
 
 #come_on .right {
     right: 0;
 }
 
 #come_on .left {
     left: 0;
 }
 
 button,
 #btn_click {
     position: relative;
     z-index: 1;
     border: 2px solid #f65d1b;
     border-radius: 6px;
     background-color: #272727;
     color: #f65d1b;
     padding: 14px 28px;
     font-size: 16px;
     cursor: pointer;
     width: 200px;
 }
 
 button:hover,
 #btn_click:hover {
     background: #f65d1b;
     color: white;
 }




 /*--------GALLERY-------------*/
.carousel-control-next,
.carousel-control-prev {
    width: 70px !important;
}

.multi-carousel-img {
    max-height: 300px !important;
    
}
.mb-10 {
    margin-bottom: 0;
}
.multi-carousel-item img {
    cursor: pointer !important;
}





/*--œ¿Õ≈À» ¬€¡Œ–¿--*/
.selection-bar {
    padding: 1.6% 0;
    font-family: Montserat;
    font-size: 18px;
    color: #E4E6E6;
}

#nav-tab {
    border-bottom: none;

}

#nav-tab .active {
    color: #f65d1b;
    background-color: rgb(246, 93, 27, 0);
    border: 1px solid #f65d1b;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
}

#nav-tab button {
    border-bottom: 1px solid #f65d1b;
    border-radius: 6px 6px 0 0;
    color: #f65d1b;
}

#nav-tab button:hover {
    border: 1px solid #f65d1b;
    background: #f65d1b;
    color: white;
}



/*-- ¿–“Œ◊ ¿ «¿ ¿«¿--*/
form {
    padding: 3% 0;
}
#nav-tabContent .form-label {
    color: #E4E6E6;
    font-size: 20px;
}

form p {
    padding-bottom: 1.6%;        
}

.date {
    font-size: x-large;
    padding-bottom: 18px;
}




/*---—“»À»«¿÷»ﬂ ◊≈ ¡Œ —Œ¬ » –¿ƒ»Œ---*/
input {
    -webkit-appearance: none; /*ÓÚÍÎ˛˜‡ÂÏ ‚Ë‰ËÏÓÒÚ¸ ˝ÎÂÏÂÌÚÓ‚*/
}

input[type="checkbox"] {
    position: relative;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid white;
    vertical-align: -8px;
    color: white;
}

input[type="checkbox"]::before {
    content: "\1F5F8";
    color: #f65d1b;
    position: absolute;
    font-size: 1.2em;
    right: 0.1em;
    top: -0.1em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled {
    border-color: #f65d1b;
    background: #f65d1b;
    color: white;
}

input[type="radio"] {
    position: relative;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid white;
    border-radius: 45px;
    vertical-align: -8px;
    color: white;
}

input[type="radio"]::before {
    content: "\25cf";
    color: #f65d1b;
    position: absolute;
    font-size: 1.2em;
    right: 0.24em;
    top: -0.3em;
    visibility: hidden;
}

input[type="radio"]:checked::before {
    visibility: visible;
}

input[type="radio"]:disabled {
    border-color: white;
    color: #f65d1b;
}




/*--- ¿À‹ ”Àﬂ“Œ– —“Œ»ÃŒ—“»---*/
.calculator {
    margin: 12% 0;
   
}

.calculator button {
    margin: 6px 0;
    border-radius: 6px;
}

.card li {
    background-color: #212121;
}

.card {
    border: none;
    background-color: #212121;
}

.card-body {
    background-color: #2e2d2d;
}

.card h5 {
    font-size: larger;
    font-style: unset;
    color: #E4E6E6;
    background-color: #212121;
}

.card-body h4 {
    font-size: 36px;
    color: #E4E6E6;
}

.card-body p {
    color: #E4E6E6;
}
.card-footer {
    background-color: #212121 !important; 
}





/*--¡»À≈“--*/
.modal-content {
    background-color: #212121 !important;
    color: #E4E6E6;
}

.btn-close-custom {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f65d1b'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5
}

.btn-close-custom:hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}

.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    opacity: 1
}
.modal-content button {
    border: 2px solid #f65d1b;
    border-radius: 6px;
    color: #f65d1b;
}

    .modal-content button span {
        margin-bottom: 100px;
    }

.modal-content button:hover {
    background: #f65d1b;
    color: white;
}

.modal-title {
    color: #f65d1b;
    font-family: DebbyC;
    font-size: 30px;
}

.modal-header {
    border-bottom-color: #f65d1b;
}

.event {
    margin: 14px;
    padding: 14px;
    background-color: #2e2d2d;
}

.modal-body h4 {
    font-size: 26px;
}

.modal-body span {
    font-size: 26px;
}

.show, .photo, .meet, .workshop, .party {
    display: none;
}

.modal-footer {
    border-top-color: #f65d1b;
}




/*-------¬»ƒ≈Œ---------*/
video {
opacity: 1;
}
.vodeo_cont {
    border: 2px solid #f65d1b;
    border-radius: 6px;
    padding: 1%;
    margin-bottom: 1%;
}
.animate {
    transition-property: opacity;
    transition-duration: 3s;
}
.img {
    position: absolute;
    width: 10px;
    z-index: 4;
}
.vodeo-text {
    color: #E4E6E6;
    font-family: Montserat;
}
.tx-name {
    font-family: DebbyC;
}
.promo {
   width: 85% !important;
   height: 85% !important;
   position: absolute;
   top: 50%;
   left: 50%;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -10;
}

.promo p {
    color: #f65d1b;
    font-family: Montserat;
    display: flex;
}




/*-------FUTER---------*/
footer {
    background-color: #272727;
    padding: 1%;
    bottom: 0;
    right: 0;
    left: 0;
}
 
 footer a img {
     width: 35px;
     height: 35px;
     padding: 8px 16px;
 }
 
 .call {
     display: flex;
 }
 
 footer p {
     margin: auto;
     font-family: Montserat;
     color: #E4E6E6;
 }

.phrase {
    color: #f65d1b;
    font-size: 38px;  
}
